# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=!
BOT_TOKEN=NzQ0OTI3NzA5OTA1NTUxNDQw.XzqV_g.t1y5tLorisc_Cq0_Ap7Xp1xzNAc
YTAPI_KEY=
PROJECT_DOMAIN=
